@import '../app/style-properties.scss';

.app-content {
    display: grid;
    grid-template-areas: 
    'main'
    'footer';
    grid-template-rows: minmax(100vh - $footer-height,auto) auto;
}

.app-home{
    grid-area: main;
    grid-row: 100rem;
}

.app-movies{
    grid-area: main;
    margin-top: 15vh;
}