$main-color: #90bf8c;
$secondary-color: #252525cc  ;
$main-color-text: white;
$main-font:'Roboto', sans-serif;
$margin-between-header: 4rem;
$footer-height: 5.1rem;
$main-border-radius: 0.4rem;
$min-width-media: 55rem;