@import '../style-properties.scss';


@mixin nav-style {
    display: flex;
    list-style: none;
    width: 90%;
    height: 4.5vh;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    li {
        font-weight: 700;
        font-size: 1.5rem;
        // margin: 0 3rem;
        a{
            text-decoration: none;
            color: $main-color-text;
            &:hover {
                color: darken($main-color-text,  50%) ;
            }
        }
    }

}

.main-nav {
    background: $main-color;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
}

.mobile-nav__list {
    @include nav-style();
    margin-right: 10vw;

    .mobile-nav__button{
        width: 3.5rem;
        vertical-align: top;
        cursor: pointer;
    }
}

.main-nav__list {
    @include nav-style()
}